:root {
    --keltainen: #f3b509;
    --keltainen-kuultava: #f3b509e7;
    --musta: #000000;
    --valkoinen: #ffffffff;
}
body{

    background: var(--valkoinen);
}
.block{
    background-color: var(--keltainen-kuultava);
    background-size: auto;
}

.row {
    display: flex;
}

p {
    /*Body tekstin fontti*/
    font-family: "Open Sans", sans-serif;
}

h1 h2 h3{
    /*Header fontti*/
    font-family: "Roboto", sans-serif;
}
h3 {
    /*navigaatiobaarin headerien koon määrittäminen*/
    font-size: large;
}
h1 {
    margin-top: 20px;
}
.bg {
    /*background kuvan kiinnittäminen ja asettelu tasutaan*/
    background-image: url(images/Suisto-backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}
.full-bleed-keltainen {
    /*tällä luodaan bound boxin rikkova tasutavärin efekti, käyttäen --keltaista*/
    box-shadow: 0 0 0 100vmax var(--keltainen);
    clip-path: inset(0 -100vmax);
}

.full-bleed-musta {
    /*tällä luodaan bound boxin rikkova tasutavärin efekti, käyttäen --mustaa*/
    box-shadow: 0 0 0 100vmax var(--musta);
    clip-path: inset(0 -100vmax);
}

.full-bleed-keltainen-kuultava{
    /*tällä luodaan bound boxin rikkova tasutavärin efekti, käyttäen --keltainen-kuultavaa*/
    box-shadow: 0 0 0 100vmax var(--keltainen-kuultava);
    clip-path: inset(0 -100vmax);
}
header {
    background-color: var(--keltainen);
    padding-top: 20px;
}
header img {
    padding-left: 10%;
}
 header a, header a:active a:hover{
    text-decoration: none;
    color: var(--musta);
 }
.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

main a, main a:active{
    color: var(--musta);
    text-decoration: none;
}
main a:hover {
    color: var(--musta);
    text-decoration: underline;
}

footer {
    padding: 20px;
    background-color: black;
    color: var(--keltainen);
}
footer a, a:active {
    text-decoration: none;
    color: var(--keltainen);
}
footer a:hover {
    text-decoration: underline;
    color: var(--keltainen);
}

.vr {
    /*tällä luodaan footteriin tekstin erottavat "pilarit", dividerit*/
    color: var(--valkoinen);
    width: 2px;
}
h1 {
    background-color: var(--keltainen-kuultava);
}

.container1 h2 {
    margin-top: 16px;
    margin-bottom: 6px;
}

.container1 h3 {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: x-large;
}

.linkki:hover {
    text-decoration: none;
}
.linkki, .linkki:visited, .linkki:active {
    text-decoration: underline;
    font-weight: bold;
}
main .row {
    display: flex;
    justify-content: center;
}
.container1, .container2, .container4, .container5, .container6 {
    background-color: var(--keltainen-kuultava);
    width: 80%;
    margin-bottom: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.container3 {
    background-color: var(--keltainen-kuultava);
    width: 80%;
    margin-bottom: 50px;
    padding-inline: 0;
}

.full-bleed-keltainen {
    /*tällä luodaan bound boxin rikkova tasutavärin efekti, käyttäen --keltaista*/
    box-shadow: 0 0 0 100vmax var(--keltainen);
    clip-path: inset(0 -100vmax);
}

.full-bleed-musta {
    /*tällä luodaan bound boxin rikkova tasutavärin efekti, käyttäen --mustaa*/
    box-shadow: 0 0 0 100vmax var(--musta);
    clip-path: inset(0 -100vmax);
}

.full-bleed-keltainen-kuultava{
    /*tällä luodaan bound boxin rikkova tasutavärin efekti, käyttäen --keltainen-kuultavaa*/
    box-shadow: 0 0 0 100vmax var(--keltainen-kuultava);
    clip-path: inset(0 -100vmax);
}
h1 {
    padding: 8px;
    margin-bottom: 40px;
}

main h3{
    font-size: x-large;
}
